<table class='generic-table zebra'>
    <thead>
      <tr>
        <th><%= t 'orders.table.fulfilled' %></th>
        <th><%= t 'orders.table.order_id' %></th>
        <th class='number'><%= t 'orders.table.order_amount' %></th>
        <th><%= t 'orders.table.actions' %></th>
      </tr>
    </thead>
    <tbody>
      <% orders.each do |order| %>
        <tr data-id='order-<%= order.id %>'>
          <td>
            <span class='px-2 py-1 rounded-md text-xs shadow-sm <%= order_status_class(order) %>'>
              <%= order_status(order) %>
            </span>
          </td>
          <td>
            <div>
              <%= link_to order_path(order) do %>
                <%= t 'orders.table.order_id_value', id: order.id %>
              <% end %>
            </div>
            <div class='text-xs text-gray-400'>
              <%= order.ships_to.recipient %>
            </div>
          </td>
          <td class='number'>
            <div>
              <%= humanized_money_with_symbol order.cost %>
            </div>
            <div class='metadata'>
              <%= t 'orders.table.product_count', count: order.line_items.sum(:quantity) %>
            </div>
          </td>
            <td>
              <% if order.fulfilled? %>
                <%= button_to order_return_path(order), method: :post, class: 'bg-green-500 text-white px-2 py-1 rounded-md text-xs' do %>
                  <%= t 'orders.table.mark_as_returned' %>
                <% end %>
              <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  